
#sec1{
 
  background-color: rgba(42, 1, 68, 0.454);
  padding-bottom: 130px;
}

/* ....Navbar section... */

.navbar{
  background-color: #1b1a2ea9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}
.navbar-toggler-icon{
 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,212,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-nav{
  margin-left: auto;
  margin-right: auto;
 
  }
.nav-link{
  font-size: 1.3rem; 
  color: #ffffff;
  font-family:'Lucida Sans';
  margin-right: 25px;
}
.nav-icon{
  padding-bottom: 0.2rem;
margin-right: 7px;
}
.nav-link:hover{
  color: cyan;
  text-decoration: underline #F31559 ;
  text-underline-offset: 0.5em;
  text-decoration-thickness: 3px;
  
  
}
.navbar:hover{
  background-image: linear-gradient(rgb(54,32,87),rgb(83, 22, 63));
}

/* .........home page..... */


.home-heading{
  color:white;
  font-size: 4rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular';
/* text-align: left; */
margin-top: 15rem;
}

.home-heading2{
  color:white;
  font-size: 4rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular';
text-align: left;
  
margin-top: 3rem;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.main-name{
  color: aqua;
  font-size: 4rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular';
text-align: center;
}
.skills{
  color:#00C4FF;
  font-size: 3rem;
  text-align: left;
  font-family:'Lucida Sans', 'Lucida Sans Regular';
  font-weight: 600;
  /* padding: 50;
  padding-right: 10%; */
  margin-top: 40px;
  
}
@media (max-width: 767px) {

  
  .home-heading{
    font-size: 2.25rem;
    padding-left: 20px;
    margin-top:10rem ;
  }
  .home-heading2{
    font-size: 2.25rem;
    padding-left: 20px;
  }
  .main-name{
    font-size: 2.25rem;
    padding-left: 20px;
   
  }
  .skills{
    font-size: 1.8rem;
    padding-left: 20px;
    margin-top: 20px;
  }
}
/* .home-image{
  padding-right: 50px;
} */
.lottie{
  width: 500px;
 padding-top: 30%;

}
@media (max-width:767px){
  .lottie{
    width: 300px;
    padding-top: 10%;
  }
}


/* .....fun section.... */


#fun{
  /* height: 130vh; */
  background-color: rgba(52, 1, 36, 0.421);
  padding-bottom: 10%;
 
  /* background-image: linear-gradient(to bottom ,#2DD678,#37F0C8,#25C6DB,#29A2FF); */
}
.FunTitle{
 padding-top: 8rem;

 /* font-size: 5rem; */
  /* background-color:#F11A7B ; */ 
   color: #F11A7B;
  text-align: center;  
}
@media (max-width:767px){
  .FunTitle{
    text-align: center;
  }
}

.cardMargin{
padding-top: 2%;
}
.fun-row{
  align-items: center;
justify-content: center;
padding-top: 60px;
}
.fun-row2{
  align-items: center;
justify-content: center;
padding-top: 60px;
}
.fun-card{
  height: auto;
  align-items: center;
  margin: auto;
}
.card {
  margin-left: 50px;
  box-shadow: 1px 2px 3px 1px #F11A7B;
  color: white !important;
  background-color: transparent ; 
  border: solid 2px #F31559;
 
}
.card:hover{
  transform: scale(1.03);
  box-shadow: 0px 0px 5px 5px #F31559;
  
}

@media (max-width:767px){

  .card{
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
 
  .funpage h2{
    text-align: center;
    font-size: 1.25rem;
  }
 
}


@media (max-width:768px){
  .fun-card {
    justify-content: center;
    align-items: center;
    
    margin: 2% 5% 10% 2%;
  }
}
@media (max-width:767px) {
  .fun-row2{
    padding-top: 2%;
  }
}
@media (min-width:768px) and (max-width: 1200px){
 .fun-card {
    justify-content: center;
    align-items: center;
    margin: 5% 5% 10% 5%;
  }
}

.btn{
  background-color: #F31559;
  color:white;
  
}
.btn:hover{
  box-shadow: 0px 0px 5px 5px #F31559;
  
}
.card-img-top{
  height: 250px;
}


/* ........about section... */


#about{
  
  /* height: 270vh; */
  background-color: rgba(1, 50, 68, 0.454);
}
/* .about-title{
  padding-top: 4rem;
  background-color:#279EFF;
  font-size: 5rem;
  color: #ffffff;
  text-align: center;
} */

.about-sec h2{
padding-top: 100px;
color: #ffffff;
padding-bottom: 40px;
}
.about-me{
  color:#2CD3E1  ;
  
}
.blue{
  color: #2CD3E1 ;
  font-weight: 600;
}
.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}
.list{
  font-size: 20px;
  color: #2CD3E1 ;
  font-weight: 600;
}
.about-image{
padding-top: 200px;
padding-left: 200px;

}
@media (max-width: 767px){
  .about-row{
    padding-left: 5%;
    padding-right: 5%;
  }
}


.user-icon{
  border: solid 3.7px #2CD3E1  ;
  border-radius: 5px;
  width: 200px;
  height: 200px;
 padding: 20px;
 transition: all 0.4s ease 0s !important;
 
}
.user-icon:hover{
  box-shadow: 0px 0px 5px 5px rgb(65, 201, 243);
  transform: scale(1.03);
  overflow: hidden;
}
@media (max-width: 767px){
  .about-image{
    /* padding-top: 10%; */
    padding: 10%;
    padding-bottom: 10%;
    margin-left: 15px;
    
   
  }
  
}
.tech-icons {
  font-size: 4.5em ;
  margin: 15px ;
  padding: 10px ;
  vertical-align: middle;
  border: 1.7px solid #2CD3E1  ;
  
  text-align: center ;
  border-radius: 5px ;
  display: table ;
  overflow: hidden;
  color: white; 

  transition: all 0.4s ease 0s !important;
}
.tech-icons:hover{
  box-shadow: 0px 0px 5px 5px rgb(65, 201, 243);
  transform: scale(1.03);
  overflow: hidden;
}
.tech-headings{
  padding-top: 80px;
  color: #ffffff;
  text-align: center;
}
@media (max-width:767px){
  .tech-headings{
    padding-top: 20px;
  }
}
/* ......Feedback.... */

#feedback{
  /* height: 100vh; */
  background-color:rgba(42, 1, 68, 0.454);
}
.feedbackTitle{
  /* font-size: 5rem; */
  /* background-color: #F11A7B; */
  padding-top: 6rem;
  margin-bottom: 50px;
  color:#F11A7B;
  text-align: center;
}
.feed-text{
  padding-bottom: 0.3rem;
  color:white;
  text-align: center;
 font-size: 1.5rem;

}

.pink{
  color: #F31559;
}
.btn-lg{
  background-color: #F31559;
  

}
.btn-lg:hover{
  box-shadow: 0px 0px 5px 5px #F31559;
  transform: scale(1.03);
  color: white;
}
.connect{
  margin-top: 6rem;
}
.connect h2{
  color: #ffffff;
  margin-bottom: 30px;

}

.connect b{
  color: #F31559;
}
.icon-connect{
  margin: 1rem;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  
  
}


.iconLogo{
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  margin-left: -0.05rem;
  
}

.icon-connect:hover{
  
  box-shadow: 0px 0px 5px 5px #F31559;
  color: #ffffff;
} 
@media (max-width:767px){
  .feed-text{
    font-size: 1.1rem;
    padding-left: 3%;
    padding-right: 3%;
   
  }
  .iconLogo{
    margin-bottom:0.3rem ;
  }
}

/* .........footer..... */


.footer {
  background-color: #79155B;
  bottom: 0 ;
  padding-top: 10px ;
  padding-bottom: 8px ;
  margin-top: 100px;
}
.footer:hover{
  box-shadow: 0px 0px 5px 5px #f773af;


}
.footer-copywright {
  text-align: center;
}
.footer-body {
  z-index: 1;
  text-align: center ;
}



.footer h3 {
font-size: 1em;
color: white ;
margin-top: 0.5em ;
margin-bottom: 0.5em ;
}
.footer-icons {
margin-top: 0.5em ;
margin-bottom: 0.5em ;
/* padding: 0 ; */
}
.social-icons {
  display: inline-block ;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width:767px) {
  .footer-icons{
    padding-right:32px ;
  }
}



